name: "k6 Smoke Test Action"
description: "Install k6 and run smoke test"
runs:
  using: "composite"
  steps:
    - name: Install k6
      shell: bash
      run: |
        sudo apt-get update
        sudo apt-get install -y gnupg ca-certificates
        curl -fsSL https://dl.k6.io/key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/k6-archive-keyring.gpg
        echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
        sudo apt-get update
        sudo apt-get install -y k6

    - name: Run k6 smoke test
      shell: bash
      run: k6 run loadtest/script.js