name: "Lint Action"
description: "Run ESLint"
runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: "npm"

    - name: Install dependencies
      shell: bash
      run: npm ci

    - name: Run ESLint
      shell: bash
      run: npm run lint
