name: CI - Notes App (Quality Gate)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    name: Lint (ESLint)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/lint

  unit_test:
    name: Unit Test (Jest + Coverage)
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test

  sonarqube_scan:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    needs: unit_test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/sonar
        env:
          SONAR_HOST_URL: http://13.212.4.149:9000
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

